<!DOCTYPE html>
<html>
  <%= render 'includes/head' %>
  <body>
  	<%= render 'includes/top_navigation' %>
  	<%= render 'includes/flash_messages' %>
  	<div class="container content">
    	<%= yield %>
    </div>	
  </body>
</html>
